/* *{
    background-color: beige;
} */

#house{
    background-color: blue;
    border-color: red;
    width: 60px;
    height: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}